{# base.htmlを継承 #}
{% extends "references/base.html" %}

{% block title %}
DevFlow | 検索結果
{% endblock %}

{% block content %}

{# このページ固有の内容 #}


<section class="card reference-section">

    <h2>検索結果</h2>

    {% if query %}
    <p>「{{ query }}」の検索結果：{{ references|length }}件</p>
    {% endif %}


<ul class="reference-list">

    {% for reference in references %}

    <li class="search-item">

        <span id="favorite-{{ reference.pk }}"
              class="material-symbols-outlined">
            star
        </span>

        <a href="{% url 'detail' reference.pk %}">
            {{ reference.title }}
        </a>

    </li>

    {% empty %}

    <li>該当するリファレンスはありません。</li>

    {% endfor %}

</ul>

</section>

{% endblock %}

{% block script %}

<script>
    updateFavoriteIcons();
</script>

{% endblock %}